@import url(./reset.css);
@import url(./cabecalho.css);
@import url(./input-carta.css);
@import url(./carta.css);

* {
    box-sizing: border-box;
}

:root {
    --cor-do-cabecalho: #4c00b0;
    --cor-do-corpo: #e8bcf0;
    --cor-do-input: #bca0dc;
    --tamanho-do-cabecalho: 4rem;
    --tamanho-do-cabecalho-grande: 3rem;
    --tamanho-da-caixaInput : 4rem;
    --tamanho-da-caixaInput-grande : 5.5rem;
    --roxinho: darkorchid;
    --cor-da-fonte: white;
    --cor-do-titulo: white;
    --curvatura-da-borda: 3px;
    --cor-frente-carta: white;
}


body {
    display: grid;
    grid-template-rows: var(--tamanho-do-cabecalho) 1fr;
    width: 100vw;
    height: 100vh;
    background: var(--cor-do-corpo);
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    ;
}

.principal {
    padding: 0.8rem;
}

.jogo-da-memoria {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: var(--tamanho-da-caixaInput) 1fr;
}

@media screen and (min-width: 768px) {
    body {
        grid-template-rows: var(--tamanho-do-cabecalho-grande) 1fr;
    }
    .jogo-da-memoria{
        grid-template-rows: var(--tamanho-da-caixaInput-grande) 1fr; 
    }
}